/bootstrap/compiled.php
.env.*.php
.env.php
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/api-docs/api-docs.json
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
/public/api-docs/api-docs.json

updates/
Dockerfile
.env
app/Http/Controllers/Api/Controller.php
